@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https: //fontstruct.com/fontstructions/show/1518536/panthera-1');
@font-face

{
    font-family: 'BEYNO';
    src: url(../ASSETS/fonts/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../ASSETS/fonts/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakanda Forever';
    src: url(../ASSETS/fonts/WakandaForever-Regular.ttf);
}

@font-face
{
    font-family: 'Cantarell';
    src: url(../ASSETS/fonts/Cantarell-Regular.ttf);
}
/* Les couleurs */
:root
{
    --white-color: #FFFFFF;
    --grandiant-pink: #F2CFF2;
    --grey-color: #9E91B7;
    --pink-color: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-color: #07338C;
    --dark-blue: #021740;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url('../ASSETS/Allpages/arrière_plan.png');
    color: var(--white-color);
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
                    0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
}
.container
{
    width: 80%;
    margin: 0 auto;
}
/* Design en haut */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul
{
    display: flex;
}
li.ft
{
    padding: 20px;
    list-style-type: none;
    color: var(--purple-color);
    text-decoration: none;
}
li.ft:hover 
{
    border-bottom-color: var(--white-color);
}
nav a.active 
{
    color: var(--purple-color);
    border-bottom-color: var(--purple-color);
}
.marvel
{
    margin: 10px;
}
.marvel2 a img:hover
{
    color: var(--purple-color);
}
/* Design black panther */
.black-panther
{
    display: flex;
    margin-top: 40px;
}
img.panther
{
    width: 120%;
    height: 100%;
}
.description
{
    width: 80%;
    margin-top: 15%;

}
.suite
{
    border: none;
    background-color: transparent;
    color: var(--white-color);
}
.suite:hover
{
    text-decoration: underline;
}
/* Acceuil */
.container-special
{
    margin-top: 40px;
    margin-left: 80px;
}
.kill img,
.okyo img
{
    height: 250px;
}

.pkill,
.pokyo
{
    padding: 15px;
}
.cousin
{
    position: relative;
    bottom: 30px;
        padding-left: 30px;
   
}
.cousin img
{
height: 320px;
}
/* Design personnages */
.personnages
{
    display: flex;
    justify-content: space-between;
    height: 250px;
    flex-wrap: nowrap;
    background-color: var(--blue-color);
    margin-bottom: 5%;
    text-align: justify;
}

/* Design naissance prince */
.naissance-prince
{
    display: flex;
    justify-content: space-between;
}
.textes
{

    text-align: justify;
    padding-left: 20px;
    width: 750px;
}
.textes h3
{
    padding-top: 50px;
}
.renseignement
{
    margin: 50px;
    text-align: justify;
    padding-left: 20px;
    width: 250px;
}
img.black
{
    width: 250px;
    height: 350px;
    margin: 0 30px 0 30px;
}
.panther1
{
    position: absolute;
}
.identite
{
    background-color: var(--white-color);
    border-radius: 20px;
    color: var(--dark-blue);
    padding-top: 200px;
    padding-bottom: 30px;
    width: 310px;
    height: 550px;
    margin-top: 70%;
}
.btn
{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: var(--white-color);
    margin: 0 30px 0 30px;
}
input[type="radio"] 
{
    opacity: 0;
}
.btn label
{
    cursor: pointer;
    border-radius: 5px ;
    background-color: var(--purple-color);
    padding: 10px;
    font-size: 8px;
}
.Tcl
{
    text-align: center;
    font-family: 'Cantarell';
}
.carte
{
    margin: 0 30px 0 30px;
    font-size: 10px;
    
}
.rond
{
    margin-top: 60px;
   
}
.rondi
{
    width: 350px;
    height: 300px;
}